# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# special
*.TMP

# Specific folders:
.vs/
bin/
bin_32/
bin_clang/
bin_clang5/
bin_clang7/
bin_clang8/
bin_clang_release/
bin_scanbuild/
gcc/
bin_gcc/
bin_gcc_release/
clang_release/
gcc/
gcc_release/
doc/doxygen/html
Build*/
build*/
.idea/
venv/

# doxygen filter script cache
doc/doxygen/filter.cache

#OSX
.DS_Store

#emacs backup files
*~

projects/cylinder_test/cmake/HunterGate.cmake
projects/cylinder_test/cmake/Hunter/config.cmake
projects/cylinder_test/meshes/cylinder.msh
projects/cylinder_test/Analysis/B_field_along_radius.pvd
projects/cylinder_test/results/magnetic_field.png
projects/cylinder_test/results/magnetic_field_magnitude_0.022.png
projects/cylinder_test/results/magnetic_field_magnitude_0.03.png
projects/cylinder_test/meshes/cylinder_spherical.msh
projects/cylinder_test/meshes/cylinder_spherical_ring.msh
projects/cylinder_test/meshes/cylinder_experimental.msh
projects/cylinder_test/Analysis/paraview_states/static_solver_ring.pvsm
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.035_13_rad_200.csv
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.04_20_rad_200.csv
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.04_15_rad_200.csv
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.04_2_rad_50.csv
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.04_0.5.csv
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.03_20_rad_200.csv
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.1.csv
projects/cylinder_test/Analysis/B_field_along_r_spejerical_0.01_5_rad_100_new_matrix.csv
projects/cylinder_test/Analysis/B_field_along_r_0.03_0.8.csv
projects/cylinder_test/Analysis/B_field_along_0.4_3_box-100.csv
.vscode/settings.json

*.msh
*.geo
projects/cylinder_test/meshes/cylinder_spherical_ring.geo
projects/cylinder_test/meshes/cylinder_spherical_ring.geo
projects/cylinder_test/meshes/rotating/cylinder_smooth_ring/cylinder_irregular_ring.zip
projects/cylinder_test/meshes/cylinder_spherical_ring.geo
projects/cylinder_test/meshes/cylinder_spherical_ring.geo
projects/cylinder_test/rotational_meshing_experiments/box_sphere.py
projects/cylinder_test/Analysis/transient/test1.csv
